@model CSC407_Final.ViewModels.CommentViewModel

@{
    ViewBag.Title = "Comments";
}

<h2>Comments</h2>

<div>
    <h4>CommentViewModel</h4>
    <hr />

    <h2>@Model.Thread.postText</h2>



    @foreach (var comment in Model.Comments)
    {
        <div>@comment.comment</div>
    }

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
